
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fad3cf;
  
}
  
  












h1 {
  text-align: center;
  font-family: Georgia, serif;
  font-weight: 600; 
  font-variant: normal;
  text-size: 30px;
  color: #060608;
}



h2 {
  text-align: center;
  font-family: Georgia, serif;
  font-weight: 200;
  font-variant: normal;
  text-size: 24px;
  color: #060608;
}


h3 {
 text-align: center;
  font-family: Georgia, serif;
  font-weight: 200;
  font-variant: normal;
  text-size: 22px; 
  color: #060608;
}







p {
  text-align: center;
  font-family: Verdana;
  font-weight: 200;
  font-variant: normal;
  text-size: 16px;
  color: #060608;
}
  

.profile-img {
  height: 150px;
  width: 150px;
  overflow: hidden;
  border-radius: 50%;
}
  



.pro {
  height: 350px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

